h1{
    text-align: center;
    background-color: gray;
}

#scoreboard{
    display: inline-block;
    background-color: antiquewhite;
    margin-top: 100px;
    margin-left: 10px;
    
}

img{
    /* align-content: center; */
    /* background-color: blue; */
    /* position: absolute; */
    display: inline-block;
}

#attemps{
    display: inline-block;
    background-color: antiquewhite;
    margin-left: 10px;
}

.Letters{
    display: flex;
    font-size: 35px;
    margin-top: 80px;
    margin-left: 25%;
    
    
}